
body {
    font-family: 'Archivo', sans-serif;
    line-height: 1.2;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
  #toggle, .bars {
    display: none;
  }

  .padding {
    padding: 50px 0;
}
.header{
    background-color:rgb(232, 243, 247) ;
    position: fixed;
    padding: 10px 0;
    width: 100%;
    z-index: 99;
    /*z-index: 9990;*/
    margin-bottom: 60px;
}
.brand {
    
    float:left;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 30px;
    color: rgb(246, 11, 11);
    text-decoration: none;
    font-weight:bold;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    
    span{
        color: black;
    }
}
  .navbar1{
    float: right;
    span{
        font-stretch:ultra-expanded;
     
        padding-left: 5px;
    }
  
}
.brand, .navbar1{
    display: flex;
    
}
.navbar1 li{
    list-style: none;
}
.navbar1 a {
 
    display: flex;
    margin-left: 25px;
    text-transform: capitalize;
    font-size: 18px;
    text-decoration: none;
    color: rgb(32, 30, 30);
    
    
}

.navbar1 a:hover{
    color: white;
    background-color: rgb(246, 11, 11);
    padding: 10px;

}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.submenu-1{
    display: none;
}
.navbar1 ul li:hover .submenu-1{
    display: block;
    position: absolute;
    background-color:rgb(232, 243, 247);
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px;
}
.navbar1 ul li:hover .submenu-1 ul{
    display: block;
    margin: 10px;
}
.navbar1 ul li:hover .submenu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted rgb(96, 96, 96);
    background: transparent;
    border-radius: 0;
    text-align: center;
    
}

.heading{

    background-color: rgb(243, 44, 44);
    color: white;
   padding-top: 80px;
   padding-bottom: 2px;
   
}
.heading h1{
    font-size: 30px;
    text-align: center;
    text-transform:capitalize ;
 
}
.heading p{
    font-size: 18px;
    text-align: center;
}



.price-comparision{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 10px;
}
.price-comparision h3{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}
.price-comparision p{
    font-size: 17px;
    color: gray;
    padding: 10px 0px;
    text-align: center;
}
.price-column{
box-shadow: 0 7px 30px grey;
border-radius: 20px;
justify-content: space-between;
margin: 10px;
padding: 20px;
flex-grow: 1;
flex-basis: 0;
max-width:300px;
}
.price-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 15px 0px;
}

.price{
    display: flex;
    font-size: 40px;
    color: #3ab1ed;
}
.doller{
font-size: 1.5rem;
margin-top: .5rem;
margin-right: .25rem;
color: #3ab1ed;
}
.month{ 
    font-size: .75rem;
    align-self: flex-end;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
}
.divider{
    height: 1px;
    width: 100%;
    background-color: rgb(74, 72, 72);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.feature{
    font-size: 19px;
    margin: 5px;
    text-align: center;
}
.cross{
    color: rgb(152, 150, 150);
}
.feature img{
    padding-left: 10px;
    margin-right: 15px;

}
.price-button{
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid gray;
    font-size: 20px;
}
.price-button:hover{
    color: white;
    background-color: #3ab1ed;
    border: none;
    
}



.address{
    background-color: rgb(60, 60, 60);
    align-items: stretch;
    justify-content: center;
    display: flex;
    width: 100%;
   
    color: white;
}
.unitech-column{
    
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0 20px;
}
.unitech-column h3{
font-size: 24px;
font-weight: bold;
color: rgb(218, 218, 227) ;
padding: 10px 0px;
}
.unitech-column p{
    padding: 10px 0;
    font-size: 17px;
}
.footer{
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: rgb(194, 190, 190);
    padding: 5px;
}